@use '../abstracts' as *;
@use '../base' as *;

#popular-courses {
    margin-top: $spacing-1000;
    margin-bottom: 10rem;

    .courses-content-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $spacing-700 $spacing-400;
        justify-content: center;

        #gradient-card {
            @include gradient(to top, $list1);
            box-shadow: 0rem 1.5625rem 3.125rem 0rem rgba(0, 22, 141, 0.40);
            border-radius: .9375rem;

            h2 {
                color: $white;
                width: 90%;
                padding: $spacing-800 $spacing-400 $spacing-500 $spacing-400;
            }
        }

        .course-card {
            width: 22rem;
            height: 20.125rem;
            border-radius: .9375rem;
            background: $white;
            box-shadow: 0rem 1.5625rem 3.125rem 0rem rgba(0, 22, 141, 0.40);
            position: relative;

            &-icon {
                margin-left: $spacing-300;
                margin-top: -1.5rem;
            }

            &-text {
                padding-top: $spacing-200;
                padding-left: 1.7rem;
            }

            h3 {
                color: $blue-900;
                padding-bottom: $spacing-300;
            }

            p {
                padding-bottom: $spacing-300;
                color: $grey;
                width: 90%;
            }

            &-link {
               color: $pink-600;
               cursor: pointer; 
               position: absolute;
               bottom: 10%;
            }
        }
    }
}





