@use '../abstracts' as *;
@use '../base' as *;

footer {
    background: $blue-900;
    padding: $spacing-300 $spacing-1000;

    @include bp-lg-tablet {
        padding: $spacing-300 $spacing-550;
    }

    @include bp-md-tablet {
        padding: $spacing-300 $spacing-500;
    }

    @include bp-sm-tablet-one {
        padding: $spacing-300 $spacing-150;
    }



    .footer-nav {
        @include flex(row, space-between, center);
        max-width: 70rem;

        @include bp-sm-mobile {
            width: 100%;
        }



    }

}