@use '../abstracts' as *;
@use '../base' as *;

footer {
    background: $blue-900;
    padding: $spacing-300 $spacing-1000;

    .footer-nav {
        @include flex(row, space-between, center);
    }

}




/*footer {
    background-color: $blue-900;
    padding-left: 1rem;
    padding-right: 1rem;

    @include bp-md-tablet {
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }

    @include bp-xl-desktop {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .footer__container {
        height: 7.5rem;
        @include flex(row, space-between, center);
    }
}*/