@use '../abstracts' as *;
@use '../base' as *;


.header {
    position: absolute;
    width: 100%;
    z-index: 1;

    @include bp-xl-desktop {
        padding: $spacing-300 $spacing-1000;
    }

    &__container {
        @include flex(row, space-between, center);
        height: 5rem;

        @include bp-md-tablet {
            height: 6rem;
        }

        @include bp-lg-tablet {
            height: 6.5rem;
        }

    }


}