@use '../abstracts' as *;
@use '../base' as *;

.hero-content-container {
    z-index: 2;
    @include flex(row, space-between, center);
    gap: $spacing-400;

    .hero-text {
        margin-top: 2rem;
        width: 60%;

        h1 {
            color: $blue-900;
            @include bp-laptop {
                font-size: 2.5rem;
            }

        }

        p {
            color: $grey;
            width: 77%;
            @include bp-laptop {
                width: 90%;
            }
        }
    }

    .hero-desktop-img {
        margin-right: -33rem;
        margin-top: -15rem;

        @include bp-laptop {
            display: none;
        }

    }

    .hero-tablet-img {
        display: none;

        @include bp-laptop {
            display: block;
            margin-right: -17rem;
            margin-top: -6rem;
        }

    }

    .hero-mobile-img {
        display: none;



    }


}