@use '../abstracts' as *;
@use '../base' as *;

.hero {
    @include flex(column, center, center);
    align-self: stretch;
    gap: $spacing-100;
    padding: $spacing-800 $spacing-250;

    &__container {
        @include flex (column, center, center);
        align-self: stretch;

        @include bp-md-tablet {
            flex-direction: row;
            gap: $spacing-300;
        }

        .hero__content {
            @include flex (column, center, start);
            gap: $spacing-100;

            &--title {
                color: $blue-900;
            }

            &--text {
                color: $grey;
            }

        }

        .hero__img--mobile {
            background-image: url('/assets/image-hero-mobile.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 27.1875rem 25.5625rem;
            height: 24.125rem;
            width: 100%;
            margin: auto;
            margin-top: $spacing-600;

        }
    }
}

.hero__img--large {}








//Old Code
/*
.hero {
    padding-top: 5rem;
    overflow: hidden;

    @include bp-md-tablet {
        padding-top: 4.75rem;
    }

    @include bp-lg-tablet {
        overflow: visible;
    }

    @include bp-xl-desktop {
        padding-top: 6.5rem;
    }



    &__container {
        padding-top: 1.375rem;
        @include flex(column, space-between, center);

        @include bp-md-tablet {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 4.6875rem;
            padding-bottom: 11.75rem;
            position: relative;
        }

        @include bp-xxl-desktop {
            padding-top: 9.25rem;
            padding-bottom: 11.25rem;
        }

        .hero__content {
            &--title {
                max-width: 20.375rem;

                @include bp-lg-tablet {
                    max-width: 31.25rem;
                }
            }

            &--text {
                max-width: 25rem;
                padding: 1.625rem 0 1.5rem;

                @include bp-md-tablet {
                    max-width: 20.3125rem;
                }

                @include bp-lg-tablet {
                    max-width: 27.8125rem;
                    padding: 1.8125rem 0 2.5rem;
                }
            }
        }

        .hero__img {
            max-width: 23.125rem;
            margin-top: 1.75rem;
            align-self: center;

            @include bp-md-tablet {
                min-width: 43.4375rem;
                height: 45.1875rem;
                margin-top: 0;
                position: absolute;
                left: calc(50% - 1.25rem);
                bottom: .625rem;
            }

            @include bp-lg-tablet {
                min-width: 54.875rem;
                height: 58.625rem;
                bottom: -0.625rem;
            }

            @include bp-xl-desktop {
                left: calc(50% + 6rem);
                bottom: 0;
            }

            @include bp-xxl-desktop {
                min-width: 65.375rem;
                left: calc(50% + 1rem);
            }


            img {
                width: 170%;
                height: 100%;
                object-fit: contain;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                @include bp-md-tablet {
                    width: 100%;
                }
            }
        }

    }
}
    */