@use '../abstracts' as *;
@use '../base' as *;

.courses {
    @include flex(column, center, center);
    align-self: stretch;
    padding: $spacing-800 $spacing-250 $spacing-1000 $spacing-250;
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
    gap: $spacing-100;

    &__container {
        .course__cards {
            max-width: 70rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: $spacing-400;

            .intro__heading {
                @include flex(column, center, flex-start);
                align-self: stretch;
                padding: $spacing-400;
                border-radius: .9375rem;
                @include gradient(to top, $list1);
                box-shadow: 0rem 1.5625rem 3.125rem 0rem rgba(0, 22, 141, 0.40);
            }

            .course__card {
                width: 100%;
                height: auto;
                @include flex(column, center, flex-start);
                align-self: stretch;

                &--logo {
                    position: relative;
                    @include flex (row, center, flex-start);
                    padding-left: $spacing-400;
                    gap: $spacing-100;
                    top: 10%;
                }
                .card__content {
                    @include flex(column, center, flex-start);
                    padding: $spacing-800 $spacing-400 $spacing-500 $spacing-400;
                    gap: $spacing-100;
                    border-radius: 15px;
                    background:  #FFF;
                    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
                }
            }

        }
    }
}