@use '../abstracts' as *;
@use '../base' as *;

.top-nav {
    position: relative;
    z-index: 1;
    @include flex(row, space-between, center);
    margin-top: 1rem;

}



// Old code
/*.header {
    //position: absolute;
    width: 100%;
    z-index: 1;
    @include flex(column, center, center);
    padding: $spacing-200 $spacing-250;
    gap: $spacing-1600;
    align-self: stretch;

    @include bp-md-tablet {
        padding: $spacing-300 $spacing-550;
    }

    @include bp-xxl-desktop {
        padding: $spacing-300 $spacing-1000;
        gap: $spacing-1600;
    }

    &__container {
        width: 100%;
        height: 5rem;
        @include flex(row, space-between, center);
        align-self: stretch;

        @include bp-lg-tablet {
            max-width: 95%;
        }

        @include bp-xxl-desktop {
            max-width: 90%;
        }
    }



}*/