// Base Colors
$blue-900: #13183F;
$blue-600: #666ca3;
$pink-600: #f74780;
$pink-300: #ffa7c3;
$grey: #83869A;
$white: #ffffff;

// Gradient Colors
$pink-gradient-1: #F02aa6;
$pink-gradient-2: #ff6f48;
$purple-gradient-1: #4851ff;
$purple-gradient-2: #f02aa6;


// Element Colors
$header-btn: $blue-900;
$header-btn-hover: $blue-600;
$btn-font-color: $white;

// Gradient Lists
$list1: $pink-gradient-1, $pink-gradient-2;
$list2: $purple-gradient-1, $purple-gradient-2;

@mixin gradient($direction, $list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);
}