@use 'media' as *;

// Flex Mixin
@mixin flex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// Media Mixins-- Based on popular devices

// Laptop 1400px
@mixin bp-laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

// XL Tablet 1280px
@mixin bp-xl-tablet {
    @media screen and (max-width: $xl-tablet) {
        @content;
    }
}

// LG Tablet 1024px
@mixin bp-lg-tablet {
    @media screen and (max-width: $lg-tablet) {
        @content;
    }
}

// MD Tablet 932px
@mixin bp-md-tablet {
    @media screen and (max-width: $md-tablet) {
        @content;
    }
}

// SM Tablet One 740px
@mixin bp-sm-tablet-one {
    @media screen and (max-width: $sm-tablet-one) {
        @content;
    }
}

// SM Tablet Two 850px
@mixin bp-sm-tablet-two {
    @media screen and (max-width: $sm-tablet-two) {
        @content;
    }
}

// SM Mobile 320px
@mixin bp-sm-mobile {
    @media screen and (max-width: $sm-mobile) {
        @content;
    }
}