@use 'media' as *;

// Flex Mixin
@mixin flex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// Media Mixins

// Tablets and Smaller
@mixin bp-tablets-1 {
    @media screen and (max-width: 64rem) {
        @content;
    }
}

@mixin bp-tablets-2 {
    @media screen and (max-width: 48rem) {
        @content;
    }
}

// Mobile Phones 

@mixin bp-mobile {
    @media screen and (max-width: 37.5rem) {
        @content;
    }
}