@use '../abstracts' as *;

.black-btn {
    background-color: $header-btn;
    gap: $spacing-100;
    width: 10.5rem;
    height: 3.6875rem;
    color: $btn-font-color;
    border-radius: 1.75rem;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: opacity .2s ease-in;

    @include bp-xs-mobile {
        width: 8.125rem;
        height: 2.5rem;
        font-size: .875rem;
    }
}

.black-btn:hover {
    opacity: .8;
}

.hero-btn {
    @include gradient(to top, $list1);
    gap: $spacing-100;
    width: 10.5rem;
    height: 3.6875rem;
    color: $btn-font-color;
    border-radius: 1.75rem;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


/*.btn {
    width: 10.5rem;
    height: 3.6875rem;
    font-size: 1rem;
    font-weight: 700;
    color: $btn-font-color;
    @include flex(row, center, center);
    border-radius: 1.75rem;
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -ms-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;

    @include bp-md-tablet {
        width: 9.5rem;
        height: 3rem;
    }

    @include bp-lg-tablet {
        width: 10.5rem;
        height: 3.6875rem;
        font-size: 1.125rem;
    }

}

a:link {
    text-decoration: none;
}*/

// Header Button
/*.header__btn {
    background-color: $header-btn;
    gap: $spacing-100;
    padding: $spacing-200 $spacing-400;
    width: 10.5rem;
    height: 3.6875rem;

    @include bp-md-tablet {
        width: 9.5rem;
        height: 3rem;
        font-size: 1.125rem;
        padding: $spacing-150 $spacing-300;
    }

    @include bp-xxl-desktop {
        width: 10.5rem;
        height: 3.6875rem;
    }
}

.header__btn:hover {
    background-color: $blue-600;
}*/

// Hero Button
/*
.hero__btn {
    @include gradient(to top, $list1);
}

.footer__btn {
    @include gradient(to top, $list2);
}*/