.container {
    width: 100%;
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;

    @include bp-sm-mobile {
        .container {
            max-width: 33.75rem;
        }
    }

    @include bp-md-tablet {
        .container {
            max-width: 46.875rem;
        }
    }

    @include bp-lg-tablet {
        .container {
            max-width: 60.625rem;
        }
    }
    @include bp-xl-desktop {
        .container {
            max-width: 73.125rem;
        }
    }

}