@use '../abstracts' as *;
@use '../base' as *;

/*.container {
    margin-left: auto;
    margin-right: auto;

    @include bp-xs-mobile {
        width: 100%; 
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include bp-sm-mobile {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include bp-md-tablet {
        width: 43.0625rem; 
        padding-left: 0rem;
        padding-right: 0rem;
    }

    @include bp-lg-tablet {
        width: 55.75rem;
    }

    @include bp-xl-desktop {
        width: 70rem;
    }

    @include bp-xxl-desktop {
        width: 90%;
    }
}*/