@use '../abstracts' as *;


// Header Font
$header-font-family: "Plus Jakarta Sans",
    serif;
$h1-text-size: 3.5rem;
$h2-text-size: 2.5rem;
$h3-text-size: 2rem;
$h4-text-size: 1.5rem;


// Body Font 
$body-font: "Plus Jakarta Sans",
    serif;
$body-text-size-1: 1.125rem;
$body-text-size-2: 1rem;



//Styles
h1,
h2,
h3,
h4 {
    font-family: $header-font-family;
}

h1 {
    font-size: $h3-text-size;
    line-height: 1.25;
    font-weight: 900;

    @include bp-lg-tablet {
        font-size: $h1-text-size;
    }
}

h2 {
    font-size: $h4-text-size;
    line-height: 1.333;
    font-weight: 900;
    color: $white;

    @include bp-lg-tablet {
        font-size: $h2-text-size;
    }
}

h3 {
    font-size: $body-text-size-1;
    line-height: 120%;
    font-weight: 900;

    @include bp-lg-tablet {
        font-size: $h3-text-size;
    }

}

h4 {
    font-size: $h4-text-size;
    line-height: 120%;
    font-weight: 900;
}