// Header Font
$header-font-family: "Plus Jakarta Sans",
serif;
$h1-header-size: 3.5rem;
$h2-header-size: 2.5rem;
$h3-header-size: 2rem;
$h4-header-size: 1.5rem;
$h5-header-size: 


// Body Font 
$body-font: "Plus Jakarta Sans",
serif;
