// Header Font
$header-font-family: "Plus Jakarta Sans",
    serif;
$h1-header-size: 3.5rem;
$h2-header-size: 2.5rem;
$h3-header-size: 2rem;
$h4-header-size: 1.5rem;



// Body Font 
$body-font: "Plus Jakarta Sans",
    serif;
$body-text-size-1: 1.125rem;
$body-text-size-2: 7.25rem;



//Styles
h1,
h2,
h3,
h4 {
    font-family: $header-font-family;
}

h1 {
    font-size: $h1-header-size;
}