@use 'abstracts/colors' as *;
@use 'abstracts/media' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/spacing' as *;

@use 'base/reset' as *;
@use 'base/typography' as *;

@use 'components/buttons' as *;
@use 'components/containers' as *;

@use 'layout/footer' as *;
@use 'layout/header' as *;
@use 'layout/hero' as *;
@use 'layout/mainsection' as *;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


// Global Styles

body {
    font-family: $body-font;
    font-size: $body-text-size-1;
    line-height: 150%;
    font-weight: 400;
    cursor: default;
}

.logo {
    width: 4.9556rem;
    height: 1.25rem;

    @include bp-lg-tablet {
        width: 6.9375rem;
        height: 1.75rem;
    }
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}